.fade-enter-active,
.fade-leave-active {
  transition: all 150ms;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

:root {
  scrollbar-face-color: hsl(var(--foreground));
  scrollbar-track-color: hsl(var(--background));
  scrollbar-color: hsl(var(--foreground)) hsl(var(--background));
  scrollbar-width: thin;
}