@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 206 50% 94%;
    --foreground: 207 40% 26%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 207 40% 26%;
 
    --card: 0 0% 100%;
    --card-foreground: 207 40% 26%;
 
    --border: 204 35% 89%;
    --input: 204 35% 89%;
 
    --primary: 207 40% 26%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 207 40% 26%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 207 40% 26%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 206 49% 32%;
 
    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }
  body {
    background-color: hsl(var(--background));
  }
}